/* HEADER */
header {
    color: rgba(0, 0, 0, 0.87);
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 24px;
}

header ul {
  display: flex;
  align-items: center; 
}

header li {
    padding-right: 1.25rem;
}

#menu-icon {
    height: 16px;
}

#user-icon {
    height: 32px;
}


/* MAIN CONTENT */
.content {
   display: flex;
   justify-content: center;
   height: 80vh;
   width: 100vw; 
}

.content-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-top: 6rem;
    width: 500px;
}
/* LOGO */
#big-logo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em; /*Adjust*/
}

/* SEARCH BAR */
#search-bar-div {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    border: solid 1px #dfe1e5; 
    background-image: url(mag-glass.png);
    background-repeat: no-repeat;
    background-position: 2% 47.5%;
    background-size: 3.75%;
    border-radius: 24px;
    padding: 0.30rem;
    padding-left: 2.5rem;
    line-height: 16px;
    height: 2rem;
    width: 90%;
}

input[type="text"]:hover {
    box-shadow: 0px 0px 5px rgba(144, 144, 144, 0.66);
}

/* BUTTONS */
#buttons {
    padding-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    border: none;
    padding: 0 16px;
    background-color:#f2f2f2; 
    color: #5F6368;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    margin: 11px 4px;
    height: 36px;
    border: 1px solid #f2f2f2;
}

.button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222; 
}

/*LANGUAGE SUGGESTION*/
#language-suggestion {
    margin-top: 1rem;
    font-size: 14px;
}

#language-suggestion a {
    text-decoration: none;
    padding-left: 0.4rem;
}

#language-suggestion a:hover {
    text-decoration: underline;
}

/*FOOTER*/
footer {
    background-color: #f2f2f2; 
    height: 10vh;
    text-align: left;
    color: rgba(0,0,0,.54);
    display: flex;
    flex-direction: column;
    Width: 100vw;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 16px;
}

footer li {
    margin-left: 1.25rem;
}

.footer-divs {
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
}

/*TESTING*/


