.content {
   display: flex;
   justify-content: center;
   height: 80vh;
   width: 100vw; 
}

.content-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    padding-top: 6rem;
    width: 500px;
}
/* LOGO */
#big-logo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em; /*Adjust*/
}

/* SEARCH BAR */
#search-bar-div {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    border: solid 1px lightgrey; 
    border-radius: 25px;
    padding: 0.25rem;
    padding-left: 1rem;
    height: 2rem;
    width: 90%;
}

/* BUTTONS */
#buttons {
    padding-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    border: none;
    padding: 0 16px;
    background-color:#f2f2f2; 
    color: #5F6368;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    margin: 11px 4px;
    height: 36px;
    border: 1px solid #f2f2f2;
}

.button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222; 
}


/*TESTING*/
footer {
    background-color: #f2f2f2; 
    height: 10vh;
    text-align: left;
    color: rgba(0,0,0,.54);
    display: flex;
    flex-direction: column;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 16px;
}

footer li {
    margin-left: 1.25rem;
}


header {
    background-color: red;
    height: 10vh;
}

.footer-divs {
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
}